.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Fredericka the Great', cursive;
    height: 10vh;
}
.navbar-links {
    display: flex;
    gap: 15%;
}
.navbar-links a {
    text-decoration: none;
    color: black;
    font-size: clamp(1rem, 2vw, 2.5rem);
    font-family: 'Fredericka the Great', cursive;
}
.navbar-links a:hover {
color: red;
}
h1 {
    font-size: clamp(1rem, 5vw, 7rem);
    margin: 0;
}
@media screen and (max-width: 1000px) {
    .navbar {
    flex-direction: column;
    }
}